<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonsterDataViewer.Properties.Settings.koushiConnectionString"
            connectionString="Data Source=SIGMA-WSV009;Initial Catalog=koushi;User ID=koushi_admin;Password=koushi_admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>