<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonsterDataViewer.Properties.Settings.koushiConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MonsterInfo;User ID=sa;Password=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>